/*===============================
#.image-text-area
=================================*/
.single-image-text-wrap {
    .text-area-wrap {
        padding: 7rem;
        h2 {
            margin-bottom: 1.5rem;
            font-size: 4.8rem;
            text-transform: uppercase;
            color: var(--color-1);
        }
        p {
            font-size: 2rem;
            color: var(--black);
        }
    }
}
@media (max-width: 1399px) {
    .single-image-text-wrap .text-area-wrap {
        padding: 3rem;
    }
}
@media (max-width: 1199px) {
    .single-image-text-wrap .text-area-wrap h2 {
        font-size: 3.2rem;
    }
}